/* ========== LAYOUT ========== */

.layout {
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
}

.mainContent {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: #F5EFE6;
}

/* ========== TABLET & MOBILE (max-width: 1024px) ========== */

@media (max-width: 1024px) {
  .mainContent {
    right: 0;
  }
}
